head {
    background: #43454a;
    justify-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #43454a;
    padding: 10px;
    border-radius: 10px;
    flex-wrap: nowrap;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin: 5px 10px;
    padding: 15px;
    border-radius: 10px;
    background: #212121;
}

.nav-links a {
    color: #80cbc4;
    text-decoration: none;
}

/*TODO: add fonts and separate webpages*/

.nav-links a:hover {
    color: #fff;
}

body, footer {
    background: rgb(33, 33, 33);
    justify-items: center;
    padding: 10px;
    border-radius: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, h5, p, body, a {
    color: #80cbc4;
    font-family: 'Courier New', Courier, monospace;
    filter: drop-shadow(1px 1px 2px black);
}

img {
    height: 300px;
    border-radius: 5px;
}

button {
    font-size: 20px;
    border-style: none;
    font-family: sans-serif;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #212121;
    color: #80cbc4;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    color: #fff;
}

#body-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #43454a;
    padding: 50px;
    border-radius: 10px;
    margin: 50px;
    width: calc(100% - 100px);
}

#credits {
    background-color: black;
}

.project_content {
    display: none; filter: drop-shadow(1px 1px 2px black);
}

.project_div {
    border-radius: 10px; color: #43454a; background-color: #43454a;
}

.project_text {
    padding: 10px
}

.link {
    height: 100px
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #43454a;
    padding: 50px;
    border-radius: 10px;
    margin: 50px;
    width: calc(100% - 100px);
}